html{
--text: #0c2327;
--background: #ede7de;
--primary: #cc6f61;
--secondary: #cdeaef;
--accent: #b54b3b;
}

.imgcomprobante
{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

table, td, th
{
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

.negrita
{
    font-weight: bolder;
}

.tachado
{
    text-decoration: line-through;
}

.tablapartebaja
{
    text-decoration: underline;
    font-weight: bold;
    color:var(--primary);
}

dt
{
    color:var(--accent);
    font-size: x-large;
    font-weight: bold;
    padding: 9px;
}

h1
{
    color:var(--accent);
    text-align: center;
    text-decoration: rgb(228, 118, 84) underline;
}

.padding2
{
    padding: 6px;
}

.padding1
{
    padding: 4px;
}

h2, h3 
{
    color:var(--accent);
}

body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: var(--background);
    color: var(--text);
}

#ejerciciossinindex
{
    color:var(--primary) ;
    font-weight: bolder;
}

a
{
    color: var(--primary);
    text-decoration:rgb(0, 0, 0) underline;
    font-weight: bolder;
}

p
{
    color: var(--text);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logoproven
{
    width: 100px;
}


