/* etiqueta {atributo: valor} */



h1
{
    color:lightblue
}


li 
{
    color: blue;
}

body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: lightgreen;
}



