body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    color: #0247a0;
}

p
{
    color:#077fb6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3
{
    color: #db1b15;
}